.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(90 44 29);
    padding: 1rem;
}

.slider__img {
    width: 35vw;
    height: 10rem;
    background-position: center;
    background-size: cover;
    margin: 0 1rem;
}