.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25rem;
}

.slider__img-container {
    height: 100%;
}

.slider__img {
    width: 35vw;
    height: 80%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 1rem;
}

@media screen and (max-width: 56.25em) {
    .slider {
        margin-top: 10rem;
    }
}