.exercise__container {
    position: relative;
    height: calc(100% - 7rem);
    width: 60%;
    background: linear-gradient(rgba(182,106,80,.4), rgba(182,106,80,.4)), url("../../img/yoruba3.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 10vh 0;
    border-radius: 5px;
    /* background-color: #cfc7ad88; */
  }
  
  @media only screen and (max-width: 56.25em) {
    .exercise__container {
      background-size: cover;
      width: 80%;
    }
  }
  
  .exercise__container .title {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: #000000b5;
    text-transform: capitalize;
  }
  
  .exercise {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: #cfc7ad;
    background-color: rgb(204, 133, 109);
    background-color: rgba(235, 128, 93,.5); */
    border-radius: 5px;
    padding: 0 2rem;
    /* width: 50%; */
    height: calc(80vh - 7rem);
    margin: 0 auto;
    overflow-y: scroll;
  }
  
  .exercise .switch {
    /* background-image: url("../../img/switch.png"); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 4rem;
    height: 4rem;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .exercise .switch--next {
    transform: rotate(180deg);
  }
  
  .exercise .return {
    color: unset;
    position: absolute;
    left: 0.25rem;
    top: 0.25rem;
    font-size: 2rem;
  }
  
  .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
  }
  
  .btn {
    padding: 1rem;
    border: 3px;
    border: 1px solid darkkhaki;
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0 0.25rem 0 0 #00000026;
    outline: none;
  }
  
  .btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 0.35rem 0 0 #00000026;
  }
  
  .btn:active {
    transform: translateY(1px);
    box-shadow: 0 0.125rem 0 0 #00000026;
  }
  
  .btn:disabled {
    cursor: unset;
  }
  
  input[type="range"] {
    outline: none;
  }
  
  /*Chrome*/
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="range"] {
      overflow: hidden;
      width: 80px;
      -webkit-appearance: none;
      background-color: grey;
    }
  
    input[type="range"]::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }
  
    input[type="range"]::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      background: #434343;
      box-shadow: -80px 0 0 80px #9a905d;
    }
  }
  /** FF*/
  input[type="range"]::-moz-range-progress {
    background-color: #9a905d;
  }
  input[type="range"]::-moz-range-track {
    background-color: grey;
  }
  /* IE*/
  input[type="range"]::-ms-fill-lower {
    background-color: #9a905d;
  }
  input[type="range"]::-ms-fill-upper {
    background-color: grey;
  }