.menu {
    display: flex;
    margin-top: .25rem;
    justify-content: center;
    margin-bottom: .25rem;
}

.menu .btn {
    padding: 1.25rem 2.5rem;
    text-transform: capitalize;
    font-size: 700;
    border-radius: 1px;
}