.menu {
    display: flex;
    margin-top: .25rem;
    justify-content: flex-end;
    margin-bottom: .25rem;
    position: absolute;
    right: 2rem;
}

@media screen and (max-width: 56.25em) {
    .menu {
        right: 0;
    }
}